body {
  margin: 0;
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

#placeOrder {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: darkgreen;
  margin-top: 15px;
}